/tsp/travelingSalesman/nbproject/private/
/tsp/travelingSalesman/build/
/tsp/travelingSalesman/dist/
/sumulatedAnealing/nbproject/private/
/sumulatedAnealing/build/
/scopa/homework13_Scopa/nbproject/private/
/scopa/homework13_Scopa/build/
/scopa2/Greg_Daniels_HW13_Scopa/nbproject/private/
/scopa2/Greg_Daniels_HW13_Scopa/build/
/scopa/nbproject/private/
/scopa/build/
/MCTSexample/nbproject/private/
/MCTSexample/build/
/Scopa2/nbproject/private/
/Scopa2/build/